@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@font-face {
  font-family: "Mitra Unicode";
  src: url("/fonts/mitra-unicode/Mitra-Regular.ttf") format("truetype"),
    url("/fonts/mitra-unicode/Mitra-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Mitra Unicode", sans-serif;
}
